.login-container
  flexbox(flex)
  flex-direction(column)
  justify-content(center)
  height 100%

  .login-page
    margin 0 auto 0 auto

    h1
      font-size 1.5em
      color black

    h2
      font-size 1em
      color #fff
      margin-left 30px
      margin-right 30px

    p
      font-size 12px
      text-decoration none
      color #ffffff
      
      a
        color #f1c40f
    
    .error-message-container
      font-size 12px
      color red
      padding-bottom 10px      
      
      a
        text-decoration underline
        
    .validating-message-container
      font-size 12px
      padding-bottom 10px

    .signin-box
      background white
      width 300px
      border-radius 6px
      margin 0 auto 0 auto
      padding 0px 0px 70px 0px
      border #2980b9 4px solid
      
    input
      border-radius 4px
      background #ecf0f1
      border #ccc 1px solid
      padding 8px
      margin-bottom 5px
      width 250px
      font-size 1em
      
      &#code
        text-align center

    .buttons-container
      flexbox(flex)
      justify-content(center)
      margin-top 20px
      margin-bottom -25px
      margin-left 10px
      width 100%
      
      .btn
        width 100%
        height 13px
        padding-top 5px
        padding-bottom 10px
        color white
        border-radius 4px
        font-weight 800
        font-size 0.8em
        
      .signin
        margin-left 5px
        margin-right 5px
        background #2ecc71
        border #27ae60 1px solid
        &:hover
          background #2CC06B

      .signup
        margin-left 5px
        margin-right 25px
        background #3498db
        border #2980b9 1px solid
        &:hover
          background #3594D2
      
      .validate
        margin-left 5px
        margin-right 25px
        background #3498db
        border #2980b9 1px solid
        &:hover
          background #3594D2
