.progress-bar
  height 10px
  flexbox(flex)
  
  div
    width 100%
    height 100%
  
  .before
    background-color questionHeaderColor
  
  .after
    background-color headerColor
  
  .current
    background-color red
    flexbox(flex)
    
    div
      width 50%

    .before-thing
      background-color questionHeaderColor
      flex-grow(3)
      
    .middle-thing
      background-color white
      width 3px
      flex-grow(1)
      
    .after-thing
      background-color headerColor
      flex-grow(3)
