.data-explorer-container
  .data-explorer-header
    background-color darkerHeaderColor
    height 50px
    flexbox(flex)
    justify-content(center)
    align-items(center)
    
    &.expanded
      justify-content(space-between)
      
      .data-explorer-header-text
        margin-left 50px

    .data-explorer-header-text
      color questionHeaderColor
      text-transform uppercase
      font-weight 500
  
  .data-explorer-x-out
    margin-right 5px
    margin-top 5px

    img
      width 60px
      height 60px
  
  .question-header
    flexbox(flex)
    background-color questionHeaderColor
    height 150px
    color white

    .number-container
      flexbox(flex)
      flex-direction(column)
      justify-content(center)
      align-items(center)
      width 30%
      border-right 1px solid white

      .number
        span
          font-size 30pt
          
      .out-of
        color headerColor
        
        span
          text-transform uppercase
          
    .question-text-container
      flexbox(flex)
      justify-content(center)
      align-items(center)
      width 70%

      .question-text
        margin-left 20px
        margin-right 20px
        text-align left
        
        span
          position relative
      
  .results-container
    background-color questionColor

    .stats-container
      border-bottom 1px solid white
      color white
      height 50px
      flexbox(flex)
      align-items(center)

      .stddev-container
        margin-left 20px
        
      .n-container
        margin-left 20px
    
    .numbers-container
      flexbox(flex)
      height 200px
      
      .options-container
        width 90%
        height 100%
        flexbox(flex)
        flex-direction(column)
        background-color questionColor

        .option
          height 50px
          width 100%
          flexbox(flex)
          align-items(center)
          justify-content(center)
          margin-left 20px

          .option-box
            width 20%
            color headerColor

          .option-text
            width 80%
            flex-grow(3)
            margin-left 30px
            text-align left
            flexbox(flex)
            flex-direction(column)
            justify-content(center)

            .option-text-container
              margin-bottom 1px
              
              span
                color white
      
      .buttons-container
        width 10%
        height 100%

        .graph-view-button
          margin-right 5px
          margin-top 5px

          img
            width 40px
            height 40px

        .percent-view-button
          margin-right 5px
          margin-top 5px

          img
            width 40px
            height 40px
  

