.q-box-container
  flexbox(flex)
  flex-direction(column)
  height 100%

  .progress-bar
    height 10px
    flexbox(flex)
    
    div
      width 100%
      height 100%
    
    .before
      background-color questionHeaderColor
    
    .after
      background-color headerColor
    
    .current
      background-color red
      flexbox(flex)
      
      div
        width 50%

      .before-thing
        background-color questionHeaderColor
        flex-grow(3)
        
      .middle-thing
        background-color white
        width 3px
        flex-grow(1)
        
      .after-thing
        background-color headerColor
        flex-grow(3)

  .question-header
    flexbox(flex)
    background-color questionHeaderColor
    height 150px
    color white

    .number-container
      flexbox(flex)
      flex-direction(column)
      justify-content(center)
      align-items(center)
      width 30%
      border-right 1px solid white

      .number
        span
          font-size 30pt
          
      .out-of
        color headerColor
        
        span
          text-transform uppercase
          
    .question-text-container
      flexbox(flex)
      justify-content(center)
      align-items(center)
      width 70%

      .question-text
        margin-left 20px
        margin-right 20px
        text-align left
        
        span
          position relative

  .answer-container
    background-color questionColor
    height 100%
    overflow scroll
  
  .survey-complete-view
    background-color headerColor
    height 100%
    flexbox(flex)
    flex-direction(column)
    justify-content(center)
    align-items(center)
    
    .survey-complete-icon
      height 60px
      width 80px
      padding-bottom 20px
      margin-top -60px
      
    .survey-complete-text
      max-width 75%
      color white
