.mc-question
  .mc-option
    flexbox(flex)
    padding-top 15px
    padding-bottom 15px
    padding-left 50px

    .mc-option-box
      border-radius 6px
      height 15px
      width 15px
      border 3px solid headerColor
      flexbox(flex)
      justify-content(center)
      align-items(center)
      
      .mc-option-selected
        height 13px
        width 13px
        border-radius 2px
        background-color headerColor
        position absolute
        margin-left -6.5px
        margin-top 1.5px
        

    .mc-option-text
      padding-left 32px
      text-align left
      flexbox(flex)
      flex-direction(column)
      justify-content(center)

      .mc-option-text-container
        margin-bottom 1px
        
        span
          color white
