.conclusions-view
  height 100%
  background-color questionHeaderColor
  flexbox(flex)
  justify-content(space-between)
  flex-direction(column)
  align-items(center)
  
  .conclusion-text
    margin-top 150px
    margin-left 30px
    margin-right 30px

    span
      color white

  .conclusion-dots
    flexbox(flex)
    margin-bottom 30px

    .dot
      height 10px
      width 10px
      margin-left 5px
      margin-right 5px
      border-radius 20px
      background-color backgroundGrey
      
      &.selected
        background-color white
