.bank-container
  height 100%
  background-color backgroundGrey
  border-radius 3px
        
  .prizes-container
    height 100%
    width 100%
    position absolute
    overflow scroll

    .boundary-div
      height 10px
    
    .padding-div
      height 120px
// =======
// .bank-view
// 	.bank-topbar-container
// 		flexbox(flex)
// 		flex-direction(row)
// 		justify-content(center)
// 		height 70px
// 		background-color questionHeaderColor
		
// 		.point-value-container
// 			flexbox(flex)
// 			align-items(center)
// 			justify-content(center)
			

// 			.point-value-text
// 				color white
// 				font-size 30pt

// 			.reward-label-text
// 				color white
// 				font-size 12pt
// >>>>>>> 0f0da6cc626f4ddfd306114ef49bc8788b423938
