.home-container
  height 100%
  background-color backgroundGrey

  .filter-container
    background-color filterGrey
    margin-bottom 10px
    flexbox(flex)

    div
      height 45px
      width 100%
      color lighten(questionColor, 50%)
      text-transform uppercase
      flexbox(flex)
      justify-content(center)
      align-items(center)
      
      &.selected
        border-bottom 2px solid questionColor
        
        .filter-text-container
          color questionColor     
        
  .cards-container
    height 100%
    background-color backgroundGrey
    width 100%
    position absolute
    overflow scroll

    .boundary-div
      height 10px
    
    .padding-div
      height 120px