.header
  flexbox(flex)
  flex-direction(row)
  justify-content(space-between)
  width 100%
  background-color headerColor
  height 40px

  .logo-container
    flexbox(flex)
    justify-content(center)
    align-items(center)    
    margin-left 15px

    img
      height 30px
      width 30px

  .points-container
    flexbox(flex)
    justify-content(center)
    align-items(center)
    margin-right 15px

    .points-box
      span
        color white
