.survey-card
  border-radius 3px

  .banner-container
    flexbox(flex)
    justify-content(space-between)
    border-radius 3px
    height 200px
    background-size cover
    background-repeat no-repeat

    .survey-title-container
      align-self(end)
      margin-bottom 10px
      margin-left 10px

      .survey-title
        color white
        font-size 16pt
        margin-left 25px
    
    .survey-close-button
      margin-right 5px
      margin-top 5px
      
      img
        width 60px
        height 60px

    .survey-estimated-completion-container
      flexbox(flex)
      flex-direction(column)
      flex-wrap(wrap)
      align-self(start)
      height 55px
      width 150px
      margin-right 0px
      margin-top 0px
      background-color questionHeaderColor
      
      .estimated-title
        background-color questionHeaderColor
        span
          font-size 8pt
          color white
        flex-shrink(2)
        
      .estimated-time
        flexbox(flex)
        justify-content(center)
        align-items(center)
        background-color questionHeaderColor
        span
          flex-shrink(2)
          color white
          margin-left 10px
          font-size 14pt
        img
          width 25px
          height 25px
          

  .bottom-container
    flexbox(flex)
    height 70px
    background-color surveyDescriptionColor

    .description-container
      width 60%
      margin-left 10px
      text-align left
      
      span
        font-size 8pt
        color #444
   
    .middle-box
      width 20%
      border-left 1px solid black
      
      flexbox(flex)
      flex-direction(column)
      justify-content(center)
      
      .resultsat-container
        color questionColor 

      .resultstitle-container
        font-size 8pt
        
    .right-box
      width 20%
      border-left 1px solid black
      flexbox(flex)
      flex-direction(column)
      justify-content(center)

      .pointvalue-container
        color questionColor
        font-size 20pt

      .date-container
        font-size 8pt

    

