.filters-view
  .filters-header
    background-color darkerHeaderColor
    height 50px
    flexbox(flex)
    justify-content(center)
    align-items(center)
    
    &.expanded
      justify-content(space-between)
      
      .filters-header-text
        margin-left 50px
    
    .filters-header-text
      color questionHeaderColor
      text-transform uppercase
      font-weight 500

  .filters-container
    flexbox(flex)

    .categories-container
      flexbox(flex)
      flex-direction(column)
      background-color darkerHeaderColor
      min-width 30%
      
      .category
        flexbox(flex)
        justify-content(center)
        padding-top 15px
        padding-bottom 15px

        .category-text
          text-transform capitalize
          color white
          
          &.selected
            color questionColor
        
          &.clearall
            padding-top 10px
            color grey
            text-transform uppercase 

    .options-container
      flexbox(flex)
      flex-direction(column)
      background-color headerColor

      .option
        flexbox(flex)
        padding-top 15px
        padding-bottom 15px
        padding-left 50px    
            
        .option-box
          border-radius 6px
          height 15px
          width 15px
          border 3px solid questionColor
          flexbox(flex)
          justify-content(center)
          align-items(center)

          .option-selected
            height 13px
            width 13px
            border-radius 2px
            background-color questionColor
            position absolute
            margin-left -6.5px
            margin-top 1.5px

        .option-text
          padding-left 20px
          color white
          text-transform capitalize

  .save-button
    background-color questionHeaderColor
    height 50px
    flexbox(flex)
    justify-content(center)
    align-items(center)

    .save-button-text
      color headerColor
      text-transform uppercase
