.sidebar
  width 66%
  height 100%
  flexbox(flex)
  flex-direction(column)
  color white
  
  .name-container
    margin-top 50px
    text-align left
    text-transform uppercase
    padding-left 20px

    .first-name-container
      font-weight normal
                  
    .last-name-container
      font-weight bold
        
  .reward-points-container
    flexbox(flex)
    background-color darkerHeaderColor
    height 100px

    .points-container
      flexbox(flex)
      flex-direction(column)
      justify-content(center)
      width 100%

      .points
        margin-right 10px
        font-size 30pt
        color questionHeaderColor
        align-self(end)
        
    .points-text-container
      flexbox(flex)
      flex-direction(column)
      justify-content(center)
      width 100%

      .points-text
        text-transform uppercase
        text-align left
        margin-left 5px
        font-size 8pt
        color white
        
  .menu-options-container
    flexbox(flex)
    flex-direction(column)
    height 100%

  .menu-opt
    flexbox(flex)
    height 55px
    width 100%
    
    .menu-opt-img-container
      width 25%
      flexbox(flex)
      flex-direction(column)
      justify-content(center)
      
      img
        height 50px
    
    .menu-opt-text-container
      width 100%
      flexbox(flex)
      flex-direction(column)
      justify-content(center)
      border-bottom 1px solid white
      text-align left

  .sign-out
    margin-top auto
    margin-bottom 0
      
    .menu-opt-text-container
      border-bottom none
