@import 'includes/**'
@import 'components/**'

@font-face
  font-family avenir-light
  src url('fonts/avenir-light.ttf')
  font-weight 300

body
  background-color headerColor
  height 100%
  margin 0 auto 0 auto
  width 100%
  text-align center
  font-family avenir-light

#reactAppContainer
  background-color headerColor
  height 100%
  width 100%
  overflow scroll
  
  #app
    height 100%
    width 100%
    flexbox(flex)
    overflow scroll
    
    &.desktop
      #main-app
        width 75%
      
      .sidebar
        width 25%

    #main-app
      height 100%
      width 100%
      overflow scroll
      position absolute
      flexbox(flex)
      flex-direction(column)
      
    .overlay-div
      position absolute
      height 100%
      width 100%
      background-color black
      opacity .4
      margin-top -20px
      padding-bottom 20px
