doctype html
html
  head
    meta(charset='utf-8')      
    meta(name='format-detection', content='telephone=no')      
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi')       
    link(rel='stylesheet', type='text/css', href='index.css')    
    link(href='http://fonts.googleapis.com/css?family=Nunito:300', rel='stylesheet', type='text/css')
    title DartPoll
  
  body
    script(type='text/javascript', src='cordova.js')
    script(type='text/javascript', src='src/index.js')
    #reactAppContainer
