.prize-card
  flexbox(flex)
  flex-direction(column)
  position relative
  border-radius 3px
  height 270px
  
  .overlay
    flexbox(flex)
    justify-content(center)
    align-items(center)
    position absolute
    margin-left 10px
    margin-right 10px
    left 0
    right 0 
    top 0 
    bottom 0
    z-index 2
    background-color rgba(41,187,156,0.5) /*dim the background*/
  
    .claim-box
      width 30%
      height 20%
      background-color rgba(41,187,156,1) /*dim the background*/
      z-index 3
      flexbox(flex)
      justify-content(center)
      align-items(center)
      span
        color #34495E
        font-size 18pt

  .banner-container
    flexbox(flex)
    justify-content(space-between)
    border-radius 3px
    height 200px
    background-size cover
    background-repeat no-repeat
    
    .prize-title-container
      align-self(end)
      margin-bottom 10px
      margin-left 10px

	    .prize-title
	      color white
	      font-size 16pt
	      margin-left 25px
    

  .bottom-container
    flexbox(flex)
    height 70px
    background-color surveyDescriptionColor

    .description-container
      width 75%
      margin-left 10px
      text-align left
      text-overflow clip
      
      span
        color grey
        font-size 10pt
        
   
    .right-box
      width 25%
      border-left 1px solid grey
      flexbox(flex)
      flex-direction(column)
      justify-content(center)

      .pointvalue-container
        color questionColor
        font-size 20pt

      .pointtext-container
        font-size 8pt
        flex-wrap(nowrap)
        color grey
